pandas
numpy
plotly
IPython
ipykernel
nbformat
kaleido
scikit-learn>=1.0
matplotlib
seaborn
mlxtend
black
ipython_sql
yellowbrick
ipywidgets>=7.6
kneed
jupyter-black
fastcluster
kmodes
kpplus
isort
pandas
numpy
plotly
IPython
ipykernel
nbformat
fastparquet
pyarrow
mlflow
lightgbm
xgboost
bayesian-optimization
shap
catboost
imblearn
graphviz

